<div class="container" style="text-align: center;">
    <h2>วิธีการรับมือฝุ่น PM 2.5</h2>
    <p></p>
    <h4>1. เลี่ยงการอยู่กลางแจ้ง</h4>
    <p>- งดกิจกรรมกลางแจ้ง</p>

    <h4>2. ใส่หน้ากาก N95</h4>
    <p>- ควรใส่หน้ากากอนามัยชนิด N95 ซึ่งจะป้องกันฝุ่นละอองขนาดเล็กได้มีประสิทธิภาพกว่าหน้ากากอนามัยทั่วไป</p>

    <h4>3. ดื่มน้ำสะอาดให้มาก ๆ</h4>
    <p>- อยากให้ทุกคนดื่มน้ำสะอาดมาก ๆ จิบน้ำบ่อย ๆ เพื่อให้น้ำช่วยขับของเสียออกจากร่างกาย เพิ่มออกซิเจนให้เลือดไหลเวียนได้ดี</p>
    
    <h4>4. ล้างจมูก</h4>
    <p>- เพื่อกำจัดฝุ่นละอองและสิ่งระคายเคือง</p>
</div>